doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)

    meta(property='og:url', content='http://www.listzapper.tk')
    meta(property='og:type', content='website')
    meta(property='og:title', content='List Zapper')
    meta(property='og:description', content='A website for making and sharing lists')

    title List Zapper - #{title}
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='/css/main.min.css')
    script(src='/js/lib/jquery-3.1.1.min.js')

  body

    script.
      window.fbAsyncInit = function() {
      FB.init({
      appId            : '1087446048056174',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.9'
      });
      FB.AppEvents.logPageView();
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    include partials/header

    .container
      include partials/flash
      block content

    include partials/footer

    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/main.js')
