@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.margin-r-10 {
  margin-right: 10px;
}

.btn-to-link {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 15px;
  color: #08d608;
  box-shadow: none;
}

.btn-to-link:focus,
.btn-to-link:active,
.btn-to-link:active:focus,
.btn-to-link:hover {
  color: #4d90fc;
  text-decoration: underline;
  outline: none;
  box-shadow: none;
}

.isPicked0,
.isPicked0:hover { color: red !important; }​

.isPicked1,
.isPicked1:hover { color: #08d608 !important; }​

.pick-toggle {
  cursor: pointer;
}

.margin-0 {
  margin: 0px;
}

.margin-left-15 {
  margin: 0px 15px 0 0;
}

.margin-bottom-24 {
  margin-bottom: 24px;
}

.sub-title-padding {
  padding: 3px;
}

.title-header {
  margin: 10px 0 62px;
}
