extends ../layout

block content
  .page-header
    h3 Edit a List
    p edit-list.pug

  each list in user.list
      .row
        .col-sm-offset-1.col-sm-11
          p.pull-left #{list.name}:
          a(href="/list/" + list.listId)
            button.btn.btn-to-link.pull-left.margin-r-10(type='submit')
              | Edit List
          form.form-horizontal(action='/list/delete', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group
             input(type='hidden', name='name' value=list.name)
             button.btn.btn-to-link.delete-list-link(type='submit')
               | Delete List
