extends ../layout

block content
  .page-header
    h3 Make a New List
    p new-list.pug
  .row
    .col-xs-12
      form.form-horizontal(action='/list/new-list', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='new-list') New List Name
          .col-sm-7
            input.form-control(type='text', name='name', id='name')
        .form-group
          .col-sm-offset-3.col-sm-4
            button.btn.btn.btn-primary(type='submit')
              i.fa.fa-pencil
              | Make List
      each list in lists
        .row
          .col-sm-offset-3.col-sm-9
            p.pull-left #{list.listName}
            a(href="/list/" + list.id)
              button.btn.btn-to-link.pull-left.margin-r-10(type='submit')
                | Edit List
            form.form-horizontal(action='/list/delete/' + list.id, method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
               input(type='hidden', name='name' value=list.id)
               button.btn.btn-to-link.delete-list-link(type='submit')
                 | Delete List
